<!DOCTYPE html>
<html>
<head>
   <title>EcamAir</title>
   <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
    <div>
    <h2 for="destination">Votre réservation a bien été enregistrée</h2>
    <h2 for="destination">EcamAir vous souhaite un bon voyage</h2>
    <img src="../public/travel.jpg" alt="travel img">
    </div>
</body>
</html>
