<!DOCTYPE html>
<html>
<head>
   <title>EcamAir</title>
   <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
    <label for="destination">Votre réservation a bien été enregistrée</label>
    <label for="destination">EcamAir vous souhaite un bon voyage</label>
    <img src="../public/travel.jpg" alt="travel img">
</body>
</html>
