<!DOCTYPE html>
<html>
<head>
   <title>EcamAir</title>
   <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
   <h1>Encodage des voyageurs</h1>
   <form method="POST" action="/validation">
    
    <% for (let i = 0; i < n; i++) { %>
        <p><label>Nom :</label> <input type="text" name="Nom" id="Nom"/>
        </p>
        <p><label>Age : </label> <input type="number" name="Nombre" id="Nombre"/>
        </p>
    <% } %>
    
      <button type="submit">Etape suivante</button>
      <button type="submit">Annuler la réservation</button>
    </form>
    <br>

</body>
</html>
