<!DOCTYPE html>
<html>
<head>
   <title>EcamAir</title>
   <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
   <h1>Encodage des voyageurs</h1>
   <form method="POST" action="/validation">
    
    <% for (let i = 0; i < n; i++) { %>
        <p><label>Nom :</label> <input type="text" name="name" id="name"/>
        </p>
        <p><label>Age : </label> <input type="number" name="age" id="age"/>
        </p>
    <% } %>
    
      <button type="submit">Etape suivante</button>
    </form>
      <button action="/" onClick="window.location.href='/';">Annuler la réservation</button>   
    <br>

</body>
</html>
