<!DOCTYPE html>
<html>
<head>
   <title>EcamAir</title>
   <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
   <h1>Réservation</h1>
   <form method="POST" action="/encode">
      <label>Destination:</label>
      <input type="text" name="destination" id="destination" required>
      <br>
      <label for="amount">Nombre de places:</label>
      <input type="number" name="amount" id = "amount" required>
      <br>
      <label for="insurance">Assurances</label>
      <input type="checkbox" name = "insurance" id = "insurance">
      <br>
      <button type="submit">Etape suivante</button>
    </form>

   
      <script>
          function getPrice() {
          var amount = document.getElementById("amount").value;
          var checkbox = document.getElementById("insurance");
          if (checkbox.checked) {
              totalPrice = (amount * 45) + 20 ;
          } else {
              totalPrice = amount * 45;
          }
  
          document.getElementById("totalPrice").innerHTML = totalPrice;
          return totalPrice;
          }
      </script>

      <button type="submit" onclick="getPrice()">Calculer le total</button>
      <br>
      <label>Total de la réservation: <output name = "totalPrice" id="totalPrice"></output></label>
    
</body>
</html>
