<!DOCTYPE html>
<html>
<head>
   <title>EcamAir</title>
   <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
   <h1>Validation des réservation</h1>
   <form method="POST" action="/confirmation">
      <br>
      <label>Liste des passagers</label>
      <br>
      <ul>
        
      </ul>
      <br>
      <button type="submit">Etape suivante</button>
      <button action="/" onClick="window.location.href='/';">Annuler la réservation</button>
    </form>

</body>
</html>
